.popup__container_type_image-previe {
  background: none;
  color: #fff;
  border-radius: 0;
  width: 75vw;
  height: 75vh;
  margin: 0;
  display: none;
  justify-content: center;
  align-items: center;

}
