.popup__container_type_image-previe {
  margin: 0;
  width: auto;
  height: auto;
  background: none;
  color: #fff;
  border-radius: 0;
  display: none;
  justify-content: center;
  align-items: center;

}
