.profile {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 120px auto 150px;
  column-gap: 30px;
}

@media screen and (max-width: 1023px) {
  .profile {
    width: calc(100% - 180px);
    min-width: 282px;
    grid-template-columns: 1fr;

  }
}
