.button__type_like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: end;
}

.button__type_like:hover {
  opacity: .5;
}
