.form__item-error {
  margin-top: 5px;
  width: calc(100% - 72px);
  color: #f00;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: left;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  opacity: 0;
  transition: opacity .2s;

}
