.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}
